@font-face {
    font-family:'3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('3Dumb-webfont.woff') format('woff'),
         url('3Dumb-webfont.ttf') format('truetype'),
         url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
font-size: 100%;
} 

body{
font-size: 1em;
}
#page1, #page2, #page3, #page4 { 
height: 100vh;
}

h1, .h2br, h3, .title, h2 {
font-family: '3dumbregular', 'Droid Sans', sans-serif;
line-height: 150%;
color:#5A2E2E;
text-align: center;
}

h2, .h2br {
display: inline;
}

.h2br{
color: darkcyan;
}

p {
color:#8F5656;
font-family: 'Patrick Hand', cursive;
}

p.title {
font-family: 'Patrick Hand', cursive;
margin:0;
padding:0;
background-color: #484848;
color: white;
font-size: 14px;
}

img {
cursor: pointer;
margin:0;
}

ul li {
list-style: none;
}

ul {
padding:0;
margin:0;
}

.navbar-nav {
text-align: center;
left: 30%;
position: relative;
color: #5A2E2E;
font-family: '3dumbregular', 'Droid Sans', sans-serif;
}

.navbar-default {
background-color: #FFFDED;
}

.navbar-default .navbar-nav > li >a:hover {
color:#008B8B;
}

.navbar-default .navbar-nav > li >a {
color:#5A2E2E;
}

.well {
padding:0;
background-color: #FFFBDE;
border:3px solid #5A2E2E;
}

.secwell {
padding:0;
margin:0;
}

.modal-dialog img {
 text-align: center;
margin:auto;
}

.modal-content{
width: 80%;}

.img1, .img4,.img7 {
 -ms-transform: rotate(10deg); /* IE 9 */
 -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
 transform: rotate(10deg);
 border:solid 2px #5A2E2E;
}

.img2, .img5, .img6, .img8, .img9 {
 -ms-transform: rotate(-7deg); /* IE 9 */
 -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
 transform: rotate(-7deg);
 border:solid 2px #5A2E2E;
}


.img3, .img10 {
 -ms-transform: rotate(5deg); /* IE 9 */
 -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
 transform: rotate(5deg);
 border:solid 2px #5A2E2E;
}

#page1, #page2, #page3, #page4 { 
width: 100%;
}

#page1 {
background:#ccc url(images/page1.jpg) top left;
}

#page2 { 
background:#ccc url(images/page3.jpg) top left;
}

#page3 {
background:#ccc url(images/page4.jpg) top left;
}

#page4 {
background:#ccc url(images/page2.jpg) top left;
}

.fa-github {
color: #8F5656;
}

.fa-linkedin {
color: #8F5656;
}

.last {
padding-bottom:0;
}

.foot{
background-color:#593B3B;
}

.footer {
margin:0;
color: #FFFDED;
}

.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}

/*EXTRA SMALL SCREENS*/
@media screen and (max-width: 767px) { 

h1 {
	font-size: 3.125em;
	}

	h3 {
	font-size: 3.125em;
	margin-top: 1em;
	margin-bottom: 0.4em;
	}


	p {
	font-size: 1em;
	margin-top: 4em;
	margin-bottom: 0.8em;
	line-height:1.4em;
	}

	.navbar-collapse {
	font-size: 1.5625em;
	}
	
	.well {
	margin-top:4.25em;
	}
	
	#photos {
	margin-top: 3.125em;
	}
	
	.footer {
	font-size: 0.625em;
	padding-bottom: 0.666666667em;
	line-height: 1.666666667em;
	}
}

/*SMALL, MEDIUM AND LARGE SCREENS*/
@media screen and (min-width:768px){

h1 {
	font-size: 3.125em;
	}

	h3 {
	font-size: 3.125em;
	margin-top: 1em;
	margin-bottom: 0.4em;
	}

	p {
	font-size: 1.5625em;
	margin-top: 4em;
	margin-bottom: 0.8em;
	line-height:1.4em;
	}
	
	.navbar-nav {
	font-size: 1.5625em;
	}
	
	.well {
	margin-top:9.375em;
	}
	
	#photos {
	margin-top: 3.125em;
	}
	
	.fa-github {
	font-size:1.5625em;
	margin-left: 0.2em;
	}
	
	.fa-linkedin {
	font-size: 1.25em;
	} 
	
	.foot{
	padding-left: 0.9375em;
	padding-top: 1.25em;
	}
	
	.footer {
	font-size: 0.9375em;
	padding-bottom: 0.666666667em;
	line-height: 1.666666667em;
	}

}


